p This is the partial for view 2.
p
  | Showing of 'interpolate' filter:
  | {{ 'Current version is v%VERSION%.' | interpolate }}
p
        .ui-layout-north
        | angular-1.0.5
        button(ng-click='bodyState = !bodyState') Toggle bodyState
            | {{bodyState}}
        .ui-layout-west
            | West
        .ui-layout-center

            | Center
        .ui-layout-east
            | East
        .ui-layout-south
            .ui-layout-pane
             | South

 
