!!!
html(ng-app="myApp")
  head

    meta(charset='utf8')
    base(href='/')


    title Test Jquery Layout
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', type='text/css', href='css/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='css/layout-default-latest.css')



  body
    block body

