!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Socket.io Seed App
    link(rel='stylesheet', href='/css/appOrig.css')
    ////link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='css/bootstrap-combined.min.css')
    link(rel='stylesheet', type='text/css', href='css/navigator.css')
    link(rel='stylesheet', href='css/bootstrap-modal.css')
    link(rel='stylesheet', type='text/css', href='css/angular-ui.css')
    link(rel='stylesheet', type='text/css', href='css/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='css/ng-grid.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='css/select2.css')
    //link(href='https://raw.github.com/ivaynberg/select2/master/select2.css', media='all', type='text/css', rel='stylesheet')

    body
    block body
