!!!
html(ng-app="myApp")
  head

    meta(charset='utf8')
    base(href='/')


    title Test
    link(rel='stylesheet', type='text/css', href='css/layout-default-latest.css')
    link(rel='stylesheet', type='text/css', href='css/jquery-ui.css')
    link(rel='stylesheet', href='css/bootstrap-combined.min.css')
    link(rel='stylesheet', type='text/css', href='css/angular-ui.css')

    link(rel='stylesheet', type='text/css', href='css/navigator.css')
    //link(rel='stylesheet', href='css/bootstrap-modal.css')
    link(rel='stylesheet', type='text/css', href='css/ng-grid.css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet', type='text/css', href='css/select2.css')
    //link(rel='stylesheet', type='text/css', href='css/layout-default-latest.css')




  body
    block body

